* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #2F2E41;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #6C63FF;
}

.btn {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    color: #FFFFFF;
}

section {
    padding: 100px 0;
    flex-grow: 1;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    letter-spacing: -0.02em;
    margin-bottom: 70px;
}

.btn,
h1,
h3 {
    text-transform: uppercase;
    text-align: center;
}

.cardWrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    padding: 46px 20px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;

}

.cardImg {
    margin: 40px 0 36px;
}

h3 {
    font-size: 22px;
    max-width: 280px;
}

p span {
    font-weight: 700;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
footer img {
    margin-right: 10px;
}
footer a{
    display: flex;
    align-items: center;
}